body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-image: url(bg.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

h2 {
    color: #fd09d4;
    text-align: center;
}

form {
    max-width: 400px;
    margin: 20px auto;
    background-color: #ffffff94;
    padding: 10px;
    padding-left: 80px;
    padding-right: 130px;
    padding-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 0, 255, 0.541);
}

label {
    display: block;
    margin-bottom: 10px;
    color: #992193;
    padding-left: 100px;
    padding-left: 9px;
}

input, select, textarea {
    padding: 10px;
    padding-left: 10px;  
    padding-right: 90px; 
    padding-bottom: 4px;
    padding-top: 6px;
    margin-bottom: 12px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 90%;
    transition: border-color 0.3s;
}

input:hover, select:hover, textarea:hover {
    border-color: #ec64f8;
}


button {
    background-color: #af4cafb9;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 4px; 
    cursor: pointer;
}

button:hover {
    background-color: #bb6186;
}

.alert {
    background-color: #f44336;
    color: #fff;
    padding: 14px;
    margin-top: 20px;
    border-radius: 4px;
    display: none;
}

.alert.success {
    background-color: #a74caf59;
}
